* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    min-width: 768px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.page-wrapper {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.main-header {
    padding: 0 6%;
    position: relative;
    display: flex;
    margin-top: 100px;
}

.main-slogan {
    text-align: center;
    margin-bottom: 52px;
    text-align: center;
}

.main-slogan p {
    line-height: 21px;
}

.main-page {
    text-align: center;
    line-height: 21px;
    color: #ffffff;
    background-color: #f2f2f2;
    height: 258px;
    display: flex;
    align-items: center;
    height: 500px;
}

.main-page b {
    font-size: 21px;
    margin-top: 5px;
    color: #000;
}

.main-page p {
    font-weight: normal;
    color: #000;
}

.main-page h1 {
    margin: 0;
    font-size: 21px;
    color: #000000;
}

.main-page h2 {
    margin: 0;
    font-size: 19px;
    color: #000000;
}

.left-side {
    margin-top: 200px;
}