* {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.btn {
    /* ... */
    /* все браузеры: сбрасываем дефолтный outline,
       так как у нас уже есть собственные стили*/
    outline: none;
 }
 /* Firefox: сбрасываем внутреннюю границу при фокусе*/
 .btn::-moz-focus-inner {
    border: none;
 }

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    min-width: 768px;
    position: relative;
    background-color: rgba(215, 215, 215, 0.78);
}

/* Обертка страницы */
.page-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(262, 262, 262, 0.78);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    text-align: left;
    line-height: 21px;
    color: #ffffff;
}

.page-wrapper b {
    font-size: 21px;
    margin-top: 5px;
    color: #000;
}

.page-wrapper p {
    font-weight: normal;
    color: #000;
}

.page-wrapper h1 {
    margin: 0 0 15px 0;
    font-size: 30px;
    color: rgba(168, 78, 37, 0.72);
}

.page-wrapper h2 {
    margin: 0 0 15px 0;
    font-size: 17px;
    color: rgba(104, 78, 30, 0.882);
}

.page-wrapper h3 {
    margin: 0 0 15px 0;
    font-size: 15px;
    color: #684e1ee1;
}

.page-wrapper ul {
    color: #000000;
}
/* Обертка страницы */

/* Заголовок */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 36px;
    padding: 0 100px 0 100px;
}
/* Заголовок */

/* Основная часть */
.main {
    display: flex;
}
/* Основная часть */

/* Левая часть в основной */
.left-side {
    padding: 8% 0 0 6%;
    float: left;
    width: 250px;
}

.text-wrapper-left {
    margin-bottom: 52px;
}

.text-wrapper-left p {
    line-height: 19px;
    margin-bottom: 30px;
}
/* Левая часть в основной */

/* Правая часть в основной */
.right-side {
    padding: 5% 6% 7% 6%;
    /*border-left: 2px solid #684e1ee1; */
    position: relative;
    width: 950px;
}

/* Обертка для текста*/
.text-wrapper {
    margin-bottom: 52px;
}

.text-wrapper p {
    line-height: 19px;
    margin-bottom: 30px;
}
/* Обертка для текста*/

.ul {
    margin-left: 15px;
}

/*.english {transform: scale(0);}*/
[hidden] { display: none; }