* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    min-width: 768px;
    background-color: #f2f2f2;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.page-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    text-align: left;
}

.main-header {
    
}

.main-page {
    line-height: 21px;
    color: #ffffff;
    background-color: #f2f2f2;
    height: 258px;
    display: flex;
    align-items: center;
    height: 500px;
}

.main-page b {
    font-size: 21px;
    margin-top: 5px;
    color: #000;
}

.main-page p {
    font-weight: normal;
    color: #000;
}

.main-page h1 {
    margin: 0;
    font-size: 21px;
    color: #000000;
}

.main-page h2 {
    margin: 0;
    font-size: 19px;
    color: #000000;
}

.left-side {
    padding: 10% 0 0 6%;
    float: left;
    width: 250px;
	position: relative;
}

.right-side {
    padding: 0 6%;
    border-left: 2px solid #B5E3FF;
    position: relative;
    width: 950px;
}

.text-wrapper-left {
    margin-bottom: 52px;
}

.text-wrapper {
    margin-bottom: 52px;
}

.text-wrapper p {
    line-height: 21px;
}